Repository COSC481W-2024Fall/Ript-Fitness, pull requests merged in 2024-12, with the labels that each got.

#164 UI Bug Fixes
  frontend/app/screens/SplashScreen.tsx
  frontend/app/screens/foodlog/FoodLog.tsx
  frontend/app/screens/foodlog/FoodLogAdd.tsx
  frontend/app/screens/foodlog/FoodLogLogged.tsx
  frontend/app/screens/foodlog/FoodLogSaved.tsx
  frontend/app/screens/profile/FindFriendsScreen.tsx
  frontend/app/screens/profile/FriendsScreen.tsx
  frontend/app/screens/profile/FullBioScreen.tsx
  frontend/app/screens/profile/PasswordScreen.tsx
  frontend/app/screens/profile/ProfileScreen.tsx
  frontend/app/screens/profile/SettingsScreen.tsx
  frontend/app/screens/profile/VisitProfileScreen.tsx
  frontend/app/screens/riptworkouts/RiptWorkoutScreen.tsx
  frontend/app/screens/socialfeed/CreatePostSheet.tsx
  frontend/app/screens/socialfeed/SocialFeed.tsx
  frontend/app/screens/welcome/SignupScreen.tsx
  frontend/app/screens/workout/AddWorkoutScreen.tsx
  frontend/assets/images/secondary.png
  frontend/assets/images/splash-icon.png
  frontend/components/custom/CustomSearchBar.tsx
  frontend/components/foodlog/FoodLogButton.tsx
  frontend/components/socialfeed/PostItem.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: Front-End, bug fix, final touches

#191 188 attempt to create a add to my workouts button to ript workouts
  frontend/app/screens/riptworkouts/RiptWorkouts.json
  frontend/app/screens/riptworkouts/RiptWorkouts.tsx
  frontend/app/screens/riptworkouts/WorkoutDetailScreen.tsx
Labels: enhancement

#196 reversed the notes list
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/service/NoteService.java
Labels: final touches

#206 Add Workout Screen and My Notes Update
  frontend/api/timeZone.tsx
  frontend/app/(tabs)/ProfileStack.tsx
  frontend/app/screens/notes/EditNoteScreen.tsx
  frontend/app/screens/notes/MyNotesScreen.tsx
  frontend/app/screens/profile/FriendsScreen.tsx
  frontend/app/screens/profile/ImageFullScreen.tsx
  frontend/app/screens/profile/PasswordScreen.tsx
  frontend/app/screens/profile/ProfileScreen.tsx
  frontend/app/screens/profile/RiptTeamScreen.tsx
  frontend/app/screens/profile/SettingsScreen.tsx
  frontend/app/screens/welcome/SignupScreen.tsx
  frontend/app/screens/workout/AddWorkoutScreen.tsx
  frontend/app/screens/workout/MyWorkoutsScreen.tsx
  frontend/app/screens/workout/WorkoutApiScreen.tsx
  frontend/assets/images/team-photo-1.jpg
  frontend/assets/images/team_photos/christopher_m.jpg
  frontend/assets/images/team_photos/christopher_p.png
  frontend/assets/images/team_photos/ciara.jpg
  frontend/assets/images/team_photos/evan.jpg
  frontend/assets/images/team_photos/michael.jpg
  frontend/assets/images/team_photos/natalie.jpg
  frontend/assets/images/team_photos/nathan.jpg
  frontend/assets/images/team_photos/placeholder.png
  frontend/assets/images/team_photos/rob.jpg
  frontend/assets/images/team_photos/tina.jpg
  frontend/assets/images/team_photos/tom.jpg
  frontend/components/MyNotes/NotesContext.tsx
  frontend/components/custom/CustomChip.tsx
  frontend/components/custom/ExerciseButton.tsx
Labels: Front-End, final touches
