Repository COSC481W-2024Fall/Ript-Fitness, pull requests merged in 2024-11, with the labels that each got.

#50 Frontend | Notes Screen
  frontend/App.tsx
  frontend/app/(tabs)/WorkoutStack.tsx
  frontend/app/screens/MyNotesScreen.tsx
  frontend/app/screens/WorkoutApiScreen.tsx
  frontend/app/screens/notes/EditNoteScreen.tsx
  frontend/app/screens/workout/AddWorkoutScreen.tsx
  frontend/components/MyNotes/Note.tsx
  frontend/components/MyNotes/NotesContext.tsx
  frontend/components/__tests__/NotesContext-test.tsx
  frontend/components/custom/CustomTextInput.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: enhancement, Front-End, sprint-2

#53 Rob H - streak feature
  frontend/App.tsx
  frontend/api/httpRequests.tsx
  frontend/app/(tabs)/BodyStack.tsx
  frontend/app/(tabs)/ProfileStack.tsx
  frontend/app/(tabs)/SocialStack.tsx
  frontend/app/(tabs)/WorkoutStack.tsx
  frontend/app/screens/LoginScreen.tsx
  frontend/app/screens/MyWorkoutsScreen.tsx
  frontend/app/screens/SignupScreen.tsx
  frontend/app/screens/profile/GraphScreen.tsx
  frontend/app/screens/socialfeed/ImagePostScreen.tsx
  frontend/app/screens/socialfeed/SocialFeed.tsx
  frontend/app/screens/socialfeed/TextPostScreen.tsx
  frontend/assets/images/streak_flame.svg
  frontend/babel.config.js
  frontend/components/StreakCounter.tsx
  frontend/components/StreakHeader.tsx
  frontend/components/__tests__/GraphScreen.test.tsx
  frontend/components/__tests__/StreakCounter.test.tsx
  frontend/components/__tests__/WorkoutButton-test.tsx
  frontend/components/__tests__/socialFeed-test.tsx
  frontend/components/custom/PreCreatedWorkoutButton.tsx
  frontend/components/socialfeed/PostItem.tsx
  frontend/context/GlobalContext.tsx
  frontend/context/SocialFeedContext.tsx
  frontend/context/StreakContext.tsx
  frontend/declarations.d.ts
  frontend/jest.setup.js
  frontend/metro.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
  frontend/types/declarations.d.ts
Labels: enhancement, Front-End, sprint-2

#91 Changed endpoint to make front end life easier
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/service/ExerciseService.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/web/controller/ExercisesController.java
  backend/Ript-Fitness-Backend/src/test/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/serviceTests/ExerciseServiceTest.java
  backend/Ript-Fitness-Backend/src/test/java/com/riptFitness/Ript_Fitness_Backend/web/controllerTests/ExerciseControllerTest.java
Labels: enhancement

#106 added endpoint for checking if JWT is expired
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/config/JwtRequestFilter.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/config/JwtUtil.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/config/SecurityConfig.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/service/TokenValidationService.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/web/controller/TokenController.java
Labels: bug fix

#109 94 add a change password endpoint
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/repository/AccountsRepository.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/service/AccountsService.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/web/controller/AccountsController.java
  backend/Ript-Fitness-Backend/src/test/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/serviceTests/AccountsServiceTest.java
  backend/Ript-Fitness-Backend/src/test/java/com/riptFitness/Ript_Fitness_Backend/web/controllerTests/AccountsControllerTest.java
Labels: Back-End

#111 changed token to expire every 50 years
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/config/JwtUtil.java
Labels: enhancement

#114 108 user profile to be created when account is created
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/model/AccountsModel.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/model/UserProfile.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/repository/UserProfileRepository.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/service/AccountsService.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/service/UserProfileService.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/web/controller/UserProfileController.java
  backend/Ript-Fitness-Backend/src/test/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/serviceTests/AccountsServiceTest.java
  backend/Ript-Fitness-Backend/src/test/java/com/riptFitness/Ript_Fitness_Backend/web/controllerTests/UserProfileControllerTests.java
Labels: Back-End, sprint-3

#129 86 add notes database functionality
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/mapper/NoteMapper.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/model/AccountsModel.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/model/Note.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/repository/ExerciseRepository.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/repository/NoteRepository.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/service/NoteService.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/web/controller/NoteController.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/web/dto/NoteDto.java
  backend/Ript-Fitness-Backend/src/test/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/serviceTests/NoteServiceTest.java
  backend/Ript-Fitness-Backend/src/test/java/com/riptFitness/Ript_Fitness_Backend/web/controllerTests/NoteControllerTest.java
  backend/Ript-Fitness-Backend/src/test/main/java/com/riptFitness/Ript_Fitness_Backend/RiptFitnessBackendApplication.java
  backend/Ript-Fitness-Backend/src/test/main/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/config/AppConfig.java
  backend/Ript-Fitness-Backend/src/test/main/resources/application.properties
Labels: enhancement, Back-End

#134 added desc. and type fields
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/model/ExerciseModel.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/service/ExerciseService.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/web/dto/ExerciseDto.java
Labels: enhancement

#132 #44 | Initial commit
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/mapper/CalendarMapper.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/mapper/UserProfileMapper.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/model/AccountsModel.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/model/Calendar.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/model/UserProfile.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/repository/CalendarRepository.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/repository/UserProfileRepository.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/service/AccountsService.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/service/CalendarService.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/service/UserProfileService.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/web/controller/CalendarController.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/web/controller/UserProfileController.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/web/dto/CalendarDto.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/web/dto/UserDto.java
  backend/Ript-Fitness-Backend/src/test/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/serviceTests/CalendarServiceTest.java
  backend/Ript-Fitness-Backend/src/test/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/serviceTests/UserProfileServiceTest.java
  backend/Ript-Fitness-Backend/src/test/java/com/riptFitness/Ript_Fitness_Backend/web/controllerTests/CalendarControllerTest.java
Labels: enhancement, Back-End, sprint-3

#148 #147 | adding getUserProfiles endpoint
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/repository/UserProfileRepository.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/service/UserProfileService.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/web/controller/UserProfileController.java
  backend/Ript-Fitness-Backend/src/test/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/serviceTests/UserProfileServiceTest.java
  backend/Ript-Fitness-Backend/src/test/java/com/riptFitness/Ript_Fitness_Backend/web/controllerTests/UserProfileControllerTests.java
Labels: enhancement, Back-End, sprint-3

#155 #154 | only commit needed?
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/mapper/UserProfileMapper.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/service/UserProfileService.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/web/controller/UserProfileController.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/web/dto/UserDto.java
Labels: enhancement, Back-End, sprint-3

#119 Add new exercises
  frontend/App.tsx
  frontend/__mocks__/react-native-reanimated.js
  frontend/app/(tabs)/WorkoutStack.tsx
  frontend/app/screens/workout/AddWorkoutScreen.tsx
  frontend/components/__tests__/AddWorkoutScreen.test.tsx
  frontend/components/custom/CustomChip.tsx
  frontend/components/custom/ExerciseButton.tsx
  frontend/context/WorkoutContext.tsx
  frontend/jest.setup.js
  frontend/package-lock.json
  frontend/package.json
Labels: enhancement, Front-End, sprint-3

#123 Post & Comments Screens
  frontend/App.tsx
  frontend/api/httpRequests.tsx
  frontend/app.json
  frontend/app/screens/socialfeed/CommentsSheet.tsx
  frontend/app/screens/socialfeed/CreatePostSheet.tsx
  frontend/app/screens/socialfeed/SocialFeed.tsx
  frontend/app/screens/socialfeed/TestBottomSheet.tsx
  frontend/babel.config.js
  frontend/components/__tests__/CreatePostSheet.test.tsx
  frontend/components/socialfeed/PostItem.tsx
  frontend/context/SocialFeedContext.tsx
Labels: enhancement, Front-End, sprint-3
