Repository COSC481W-2024Fall/Ript-Fitness, pull requests merged in 2024-10, with the labels that each got.

#28 fixed constructor for Argon2 password initializer
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/config/AppConfig.java
Labels: sprint 1, Back-End, bug fix

#30 Changed the login from Get to Put
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/web/controller/AccountsController.java
Labels: sprint 1, Back-End, bug fix

#32 fixed controller tests to match PUT
  backend/Ript-Fitness-Backend/src/test/java/com/riptFitness/Ript_Fitness_Backend/web/controllerTests/AccountsControllerTest.java
Labels: sprint 1, Back-End, bug fix

#34 changed error/success messages
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/service/AccountsService.java
  backend/Ript-Fitness-Backend/src/test/java/com/riptFitness/Ript_Fitness_Backend/infastructure/serviceTests/AccountsServiceTest.java
Labels: sprint 1, Back-End, bug fix

#26 #14 | Backend | Adding user profile
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/mapper/UserProfileMapper.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/model/UserProfile.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/repository/UserProfileRepository.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/service/UserProfileService.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/web/controller/UserProfileController.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/web/dto/UserDto.java
  backend/Ript-Fitness-Backend/src/test/java/com/riptFitness/Ript_Fitness_Backend/infastructure/serviceTests/UserProfileServiceTest.java
  backend/Ript-Fitness-Backend/src/test/java/com/riptFitness/Ript_Fitness_Backend/web/controllerTests/UserProfileControllerTests.java
Labels: enhancement, sprint 1, Back-End

#19 Socialfeed / Homepage
  .gitignore
  README.md
  frontend/.gitignore
  frontend/App.tsx
  frontend/app.json
  frontend/app/(tabs)/SocialStack.tsx
  frontend/app/screens/socialfeed/CommentsScreen.tsx
  frontend/app/screens/socialfeed/ImagePostScreen.tsx
  frontend/app/screens/socialfeed/SocialFeed.tsx
  frontend/app/screens/socialfeed/TextPostScreen.tsx
  frontend/components/ThemedText.tsx
  frontend/components/__tests__/socialFeed-test.tsx
  frontend/components/socialfeed/PostItem.tsx
  frontend/jest.setup.js
Labels: enhancement, sprint 1, Front-End

#35 ciara/MyWorkoutsScreen
  frontend/App.tsx
  frontend/app/(tabs)/WorkoutStack.tsx
  frontend/app/screens/MyWorkoutsScreen.tsx
  frontend/components/__tests__/WorkoutButton-test.tsx
  frontend/components/custom/CustomSearchBar.tsx
  frontend/components/custom/PreCreatedWorkoutButton.jsx
  frontend/jest.setup.js
  frontend/package-lock.json
Labels: enhancement, sprint 1, Front-End

#49 46 create the backend functionality for exercises exercise class
  backend/Ript-Fitness-Backend/pom.xml
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/config/JwtRequestFilter.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/config/JwtUtil.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/config/SecurityConfig.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/mapper/ExerciseMapper.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/model/AccountsModel.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/model/ExerciseModel.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/model/Streak.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/repository/AccountsRepository.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/repository/ExerciseRepository.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/service/AccountsService.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/service/CustomUserDetails.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/service/CustomUserDetailsService.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/service/ExerciseService.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/web/controller/AccountsController.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/web/controller/ExercisesController.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/web/dto/ExerciseDto.java
  backend/Ript-Fitness-Backend/src/main/resources/application.properties
  backend/Ript-Fitness-Backend/src/test/java/com/riptFitness/Ript_Fitness_Backend/infastructure/serviceTests/AccountsServiceTest.java
  backend/Ript-Fitness-Backend/src/test/java/com/riptFitness/Ript_Fitness_Backend/infastructure/serviceTests/ExerciseServiceTest.java
  backend/Ript-Fitness-Backend/src/test/java/com/riptFitness/Ript_Fitness_Backend/web/controllerTests/AccountsControllerTest.java
  backend/Ript-Fitness-Backend/src/test/java/com/riptFitness/Ript_Fitness_Backend/web/controllerTests/ExerciseControllerTest.java
Labels: enhancement, Back-End, sprint-2

#60 fixed all controller tests
  backend/Ript-Fitness-Backend/pom.xml
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/web/dto/StreakDto.java
  backend/Ript-Fitness-Backend/src/test/java/com/riptFitness/Ript_Fitness_Backend/infastructure/serviceTests/ExerciseServiceTest.java
  backend/Ript-Fitness-Backend/src/test/java/com/riptFitness/Ript_Fitness_Backend/infastructure/serviceTests/StreakServiceTest.java
  backend/Ript-Fitness-Backend/src/test/java/com/riptFitness/Ript_Fitness_Backend/web/controllerTests/NutritionTrackerControllerTest.java
  backend/Ript-Fitness-Backend/src/test/java/com/riptFitness/Ript_Fitness_Backend/web/controllerTests/StreakControllerTest.java
  backend/Ript-Fitness-Backend/src/test/java/com/riptFitness/Ript_Fitness_Backend/web/controllerTests/UserProfileControllerTests.java
Labels: bug fix

#62 added a new CORS policy
  backend/Ript-Fitness-Backend/pom.xml
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/config/SecurityConfig.java
Labels: bug fix

#51 Chris p social feed
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/mapper/SocialPostCommentMapper.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/mapper/SocialPostMapper.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/model/AccountsModel.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/model/SocialPost.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/model/SocialPostComment.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/model/UserProfile.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/repository/SocialPostCommentRepository.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/domain/repository/SocialPostRepository.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/infrastructure/service/SocialPostService.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/web/controller/SocialPostController.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/web/dto/AccountsDto.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/web/dto/SocialPostCommentDto.java
  backend/Ript-Fitness-Backend/src/main/java/com/riptFitness/Ript_Fitness_Backend/web/dto/SocialPostDto.java
  backend/Ript-Fitness-Backend/src/test/java/com/riptFitness/Ript_Fitness_Backend/infastructure/serviceTests/SocialPostServiceTest.java
  backend/Ript-Fitness-Backend/src/test/java/com/riptFitness/Ript_Fitness_Backend/web/controllerTests/SocialPostControllerTest.java
Labels: enhancement, Back-End, sprint-2
